modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyA4Y_TZnn_b80lbS-x9CNYN0Ak7LjQcCjQ"
VITE_FIREBASE_AUTH_DOMAIN = "spendly-7ba68.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "spendly-7ba68"
VITE_FIREBASE_STORAGE_BUCKET = "spendly-7ba68.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "313616115385"
VITE_FIREBASE_APP_ID = "1:313616115385:web:4d0804d55663d4fc441d68"
VITE_FIREBASE_VAPID_KEY = "BM92ipiTGgKYepk5ToZYICcAbF_Ul5c7Y7xRRMzmqsEI2v77Jn9Gmes-518V1p4-0t5MCdFtwbARQSfI5qFhPRs"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_live_51IFcuTC4v8cWcbw3hqPlSzEee4JBCvsf4odVfin2yu2lXPNqPZ5G5ABH9ClupOZ8QzOmYryQDqs7dEeyXSaclyUY0082a5lsIB"
VITE_PAYSTACK_PUBLIC_KEY = "pk_live_c8e7edb899df75c45e1f14e57c84ec3c3fb4f8f1"
VITE_APP_ENV = "development"
VITE_APP_NAME = "Spendly"
VITE_APP_VERSION = "1.0.0"
VITE_MOCK_MODE = "false"
VITE_FIREBASE_MEASUREMENT_ID = "G-7LHBQ3HT4D"
VITE_GEMINI_API_KEY = "AIzaSyAiIEBD1tNz724LL8gAePKGY2YAK4ncvs0"

[agent]
integrations = ["stripe:2.0.0"]
